<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
 <typeAliases>
   <package name="ljn.bean"/>
 </typeAliases>
 <mappers>
    <mapper resource="ljn/mapper/GoodMapper.xml"/>
    <mapper resource="ljn/mapper/UserMapper.xml"/>
    <mapper resource="ljn/mapper/CustomerMapper.xml"/>
    <mapper resource="ljn/mapper/OrderMapper.xml"/>
    <mapper resource="ljn/mapper/HouseMapper.xml"/>
 </mappers>
</configuration>
